html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(to bottom right, #212182, #090938);
  width: 100%;
  height: 100%;
  background-attachment: fixed; /* Keeps the background fixed in place */
}
